.footer-container{
    width : 100vw;
    height : 60vh;
    background-color: rgb(14, 10, 48);
    margin-top: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer-body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border:2px solid white; */
    width :70%;
    height:70%;
    gap:15px
}
.footer-body img{
    width:18%;
    height:20%;
    
}
.footer-nav{
    display: block;
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer-nav li{
    list-style-type: none;
    margin:0px 5px;
    color: azure;
}
.address{
    color : rgb(100, 96, 96)
}
.socialmedia{
    display:flex;
    justify-content: center;
    align-items: center;
    width:30%;
    height:0vh
}
.socialmedia img{
    width:30px;
    height:30px;
    margin: 0px 10px;
}
.copyright{
    color: rgb(100, 96, 96) ;
    margin-top: 10px;
}